<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>114846359047-rhhio9vd8jc6delpou6u57lf0c6379fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114846359047-rhhio9vd8jc6delpou6u57lf0c6379fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAqVDcpJslk8iaIC0pnZU4ESIPwEA2qmMg</string>
	<key>GCM_SENDER_ID</key>
	<string>114846359047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CraunicProductions.LiquidMeister-v2</string>
	<key>PROJECT_ID</key>
	<string>liquidmeister-712b4</string>
	<key>STORAGE_BUCKET</key>
	<string>liquidmeister-712b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114846359047:ios:55b1a6625f4f4d84</string>
	<key>DATABASE_URL</key>
	<string>https://liquidmeister-712b4.firebaseio.com</string>
</dict>
</plist>